.Header{
    margin-top: -20px;
    height: 70px;
    width: 100%;
    background-color: rgb(86, 100, 141);
    color: black;
}

h1{
    padding-top: 13px;
    padding-left: 40%;
    color: rgb(236, 230, 232);
}


