.MainArea{
    display: flex;
}
.App{
    background-color: rgb(236, 232, 213);
}

select{
    height:30px;
    width: 120px;
    background-color: bisque;
    box-shadow: 2px 3px 5px rgb(101, 98, 98);
    border-radius: 5px;
}

.Filter{
    margin-left: 38%;
    margin-bottom: 1%;
}

.Home{
    color: rgb(35, 35, 117);
    margin-left: 20%;
    margin-top: 10%;
    font-size: 5vh;
    width: 44vw;
}

